@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Nunito+Sans:wght@300&family=Ubuntu:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: darkorchid;
    display: flex;
    justify-content: space-between;
}

.navhead{
    height: 60px;
    width: 60px;
    justify-content: center;
    
}
.navhead h2{
    margin: 12px;
    color: white;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Dancing Script';
}
.search{
    height: 60px;
    width: 60px;

}
.search .material-symbols-outlined{
    color: white;
    font-size: 30px;
    margin: 12px;
    transition: 2s ease-in;
    cursor: pointer;
}
.search .material-symbols-outlined :hover{
    transform: scale(1.2px);
}
.content{
   width: 100%;
   height: 90vh;
  
   background-color:#151817;
}
.form{
    align-content: center;
    align-items: center;
    /* padding-top: 10%;
    padding-left: 30%; */
}
 .register{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 25%;
    
}
.table .register h2{
    color: white;
    font-size: 45px;
    font-family: 'Dancing Script';
}
.content .register h2{
    color: white;
    font-size: 45px;
    font-family: 'Dancing Script';
}
.form {
    margin: auto;
    top: 50px;
    width: 400px;
    height: 400px;
    /* background-color: antiquewhite; */
    padding-inline: 5%;
}

form #name{
    
    border-color: white;
    border-width: 0.2px;
    width: 300px;
    height: 35px;
    padding-inline-start: 5px;
}
form #name:focus{
    border-color: rgb(14, 248, 197);
    border-width: 0.2px;
    border-radius: 0.0;
}
form .buttons{
    width: 300px;
    /* background-color: aqua; */
    
}
form #btn{
    width: 100px;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: solid;
    background-color: darkorchid;
    border: none;
    color: white;
    font-weight: 900;
    margin-left:30px ;
}

table{
    padding-left: 25%;
    border: white;
    
}
thead {
    color: darkorchid;
}
thead th{
    border: white;
    font-family:'Nunito Sans' ;
    height: 40px;
    width: 140px;
    background-color: aliceblue;
}
tbody td{
    background-color: cyan;
    height: 30px;
    font-family: 'Nunito Sans';
}

tbody input{
   
    border: none;
    color: white;
    width: 60px;
    height: 35px;
}
tbody  #edit{
    background-color: green;
}
tbody #delete{
    background-color: red;
}